<template>
    <v-container>
        <v-layout justify-center text-xs-center wrap>

            <v-flex grow pa-1>
                <h5 class="display-5 text-xs-left" v-if="!user.approved">Your guess will not show until your account has been approved</h5>
            </v-flex>
            <v-flex shrink pa-1>
                <v-dialog v-model="dialog" max-width="500px">
                    <template v-slot:activator="{ on }">
                        <v-btn :color="color" dark class="mb-2" v-on="on">Your Guess</v-btn>
                        <v-btn :color="color" dark class="mb-2"><v-icon class="mr-2" @click="getGuesses">refresh</v-icon></v-btn>
                        <h4>You can add your guess and edit it at anytime using the "Your Guess" button</h4>
                    </template>
                    <v-card>
                        <v-card-title>
                            <span class="headline">Your Guess</span>
                        </v-card-title>
                        <v-card-text>
                            <form>
                                <v-select :items="items" label="Sex" v-model="yourGuess.sex" clearable></v-select>
                                <v-text-field v-model="yourGuess.weight" label="Weight"></v-text-field>
                                <v-text-field v-model="yourGuess.date" label="Date" type="date"></v-text-field>
                            </form>
                        </v-card-text>
                        <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn :color="color" flat @click="close">Cancel</v-btn>
                        <v-btn :color="color" flat @click="save">Save</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-flex>

            <v-flex xs12="xs12">
                <v-card>
                    <v-card-title>
                        <h5 class="headline text-xs-left">Current Guesses</h5>
                        <v-spacer></v-spacer>
                        <v-text-field v-model="search" append-icon="search "label="Search" single-line hide-details ></v-text-field>
                    </v-card-title>
                    <v-data-table hide-actions :headers="guessHeaders" :items="guesses" :search="search">
                        <template v-slot:items="props">
                            <td class="text-xs-left">{{ props.item.name }}</td>
                            <td class="text-xs-left">{{ props.item.sex }}</td>
                            <td class="text-xs-left">{{ props.item.weight }}</td>
                            <td class="text-xs-left">{{ displayDate(props.item.date) }}</td>
                        </template>

                    </v-data-table>
                </v-card>
            </v-flex>

        </v-layout>
    </v-container>
</template>

<script>
import moment from 'moment'
export default {
    name: 'Home',
    mounted() {
        this.getUsers()
        this.getGuesses()
    },
    data: () => ({
        search: '',
        dialog: false,
        cachedGuess: {},
        defaultGuess: {
            id: 0,
            user_id: '',
            sex: '',
            weigth: '',
            date: ''
        },
        items: ['Girl', 'Boy']
    }),
    computed: {
        color() {
            return this.$store.getters.getColor
        },
        users() {
            return this.$store.getters.getUsers
        },
        user_id() {
            return this.$store.getters.getID
        },
        user() {
            return this.$store.getters.getProfile
        },
        unfilteredGuesses() {
            return this.$store.getters.getGuesses
        },
        guesses() {
            var filteredGuesses = []
            var guesses = this.unfilteredGuesses
            var users = this.users
            guesses.forEach(guess => {
                var user = users.find(user => {
                    return user.id === guess.user_id
                })
                if(user && user.approved){
                    guess.name = user.name
                    filteredGuesses.push(guess)
                }
            })
            return filteredGuesses
        },
        yourGuess() {
            var guess = this.unfilteredGuesses.find(guess => {
                return guess.user_id === this.user_id
            })
            if(guess){
                return guess
            } else {
                return {
                    id: 0,
                    user_id: this.user_id,
                    sex: '',
                    weigth: '',
                    date: ''
                }
            }
        },
        guessHeaders() {
            return this.$store.getters.getGuessHeaders
        },
    },
    methods: {
        getGuesses(){
            this.$store.dispatch('get_guesses').then(response => {
                //this.$store.dispatch('success_notifications', 'Successfully got guesses')
            }, error => {
                this.$store.dispatch('error_notifications', 'Problem getting guesses')
            })
        },
        getUsers(){
            this.$store.dispatch('get_users').then(response => {
                //this.$store.dispatch('success_notifications', 'Successfully got users')
            }, error => {
                this.$store.dispatch('error_notifications', 'Problem getting users')
            })
        },

        close () {
            this.dialog = false
            setTimeout(() => {
                this.editedGuess = Object.assign({}, this.defaultGuess)
            }, 300)
        },

        save () {
            this.$validator.validateAll().then(valid => {
                if(valid){
                    if (this.yourGuess.id == 0) {
                        delete this.yourGuess.id
                        this.$store.dispatch('create_guess', this.yourGuess).then(() => {
                            this.$store.dispatch('get_guesses')
                            this.$store.dispatch('success_notifications', 'Successfully created guess')
                        }).catch(() => {
                            this.$store.dispatch('error_notifications', 'Problem created guess')
                        })
                    } else {
                        this.$store.dispatch('update_guess', this.yourGuess, this.cachedAccount).then(() => {
                            this.$store.dispatch('success_notifications', 'Successfully updated guess')
                        }).catch(() => {
                            this.$store.dispatch('error_notifications', 'Problem updating guess')
                        })
                    }
                    this.close()
                }
            })
        },

        displayDate (date) {
          return moment(date).format('dddd, MMMM Do YYYY')
        },
    }
}
</script>

<style>
</style>
