<template>
    <v-container>
        <v-layout justify-center text-xs-center wrap>

            <v-flex grow pa-1>
                <h1 class="display-3 text-xs-left">Users</h1>
            </v-flex>
            <v-flex shrink pa-1>
                <v-btn :color="color" class="mb-2"><v-icon class="mr-2" @click="getUsers">refresh</v-icon></v-btn>
            </v-flex>

            <v-flex xs12="xs12">
                <v-card>
                    <v-card-title>
                        <h5 class="headline text-xs-left">Current Users</h5>
                        <v-spacer></v-spacer>
                        <v-text-field v-model="search" append-icon="search "label="Search" single-line hide-details ></v-text-field>
                    </v-card-title>
                    <v-data-table hide-actions :headers="usersHeaders" :items="users" :search="search">
                        <template v-slot:items="props">
                            <td class="text-xs-left">{{ props.item.id }}</td>
                            <td class="text-xs-left">{{ props.item.name }}</td>
                            <td class="text-xs-left">{{ props.item.approved }}</td>
                            <td class="text-xs-left layout px-0">
                                <v-btn v-if="!props.item.approved" @click="userAction(props.item, true)">Approve</v-btn>
                                <v-btn v-if="props.item.approved&&!props.item.admin" @click="userAction(props.item, false)">Unapprove</v-btn>
                                <v-btn v-if="!props.item.admin" @click="userDelete(props.item)">Delete</v-btn>
                            </td>
                        </template>

                    </v-data-table>
                </v-card>
            </v-flex>

        </v-layout>
    </v-container>
</template>

<script>
import moment from 'moment'
export default {
    name: 'Users',
    mounted() {
        this.getUsers()
    },
    data: () => ({
        search: '',
        items: ['Girl', 'Boy']
    }),
    computed: {
        color() {
            return this.$store.getters.getColor
        },
        users() {
            return this.$store.getters.getUsers
        },
        user_id() {
            return this.$store.getters.getID
        },
        usersHeaders() {
            return this.$store.getters.getUsersHeaders
        },
    },
    methods: {
        getUsers(){
            this.$store.dispatch('get_users').then(response => {
                this.$store.dispatch('success_notifications', 'Successfully got users')
            }, error => {
                this.$store.dispatch('error_notifications', 'Problem getting users')
            })
        },
        userAction (user, approved) {
            this.$root.$confirm.open('Update', 'Are you sure you want to update this user?', { color: 'red' })
            .then((confirm) => {
                if(confirm){
                    user.approved = approved
                    this.$store.dispatch('update_user', user).then(() => {
                        this.$store.dispatch('success_notifications', 'Successfully edited user')
                        this.getUsers()
                    }).catch(() => {
                        this.$store.dispatch('error_notifications', 'Problem editing user')
                    })
                }
            })
        },
        userDelete (user,) {
            this.$root.$confirm.open('Delete', 'Are you sure you want to delete this user?', { color: 'red' })
            .then((confirm) => {
                if(confirm){
                    this.$store.dispatch('delete_user', user).then(() => {
                        this.$store.dispatch('success_notifications', 'Successfullydeleteed user')
                        this.getUsers()
                    }).catch(() => {
                        this.$store.dispatch('error_notifications', 'Problem deleteing user')
                    })
                }
            })
        },
    }
}
</script>

<style>
</style>
