<template>
    <v-navigation-drawer fixed clipped v-model="isSidebarOpen" app>
        <v-list class="pa-1">

            <v-list-tile avatar tag="div">
                <v-list-tile-avatar>
                    <img :src="profile.avatar">
                </v-list-tile-avatar>

            <v-list-tile-content>
            <v-list-tile-title>{{profile.name}}</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>

        </v-list>

        <v-list dense>

            <v-list-tile v-for="item in menuItems" :key="item.id" v-bind:class="{ 'selected': item.active }" @click="redirect(item)">
                <v-list-tile-action>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>

            <v-subheader class="mt-3 grey--text text--darken-1">SUBSCRIPTIONS</v-subheader>
            <v-list>
                <v-list-tile v-for="item in subscriptions" :key="item.text" avatar @click="">
                    <v-list-tile-avatar>
                        <img :src="`https://randomuser.me/api/portraits/men/${item.picture}.jpg`" alt="">
                    </v-list-tile-avatar>
                    <v-list-tile-title v-text="item.text"></v-list-tile-title>
                </v-list-tile>
            </v-list>
            <v-list-tile class="mt-3">
                <v-switch v-model="darkMode" primary label="Dark Mode"></v-switch>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
    name: 'NavigationDrawer',
    computed: {
        profile(){
            return this.$store.getters.getProfile
        },
        isSidebarOpen: {
            get () {
                return this.$store.getters.isSidebarOpen
            },
            set () {
                //this.$store.dispatch('switchSidebarState')
            }
        },
        darkMode:{
            get () {
                return this.$store.getters.darkmode
            },
            set () {
                this.$store.dispatch('switchDarkmode')
            }
        },
        menuItems(){
            return this.$store.getters.getMenu
        },
        subscriptions(){
            return this.$store.getters.getSubscriptions
        }
    },
    methods: {
        redirect (item) {
            this.$router.push(item.link)
        },
        toggleDarkmode () {
            this.$store.dispatch('switchDarkmode')
        }
    },
}
</script>

<style>
</style>
