<template>
    <div class="notifications" v-if="show">
        <v-snackbar :value="success" multi-line="multi-line" color="success" :timeout="timeout" bottom="bottom">
          {{success}}
          <v-btn flat @click="close">Close</v-btn>
        </v-snackbar>

        <v-snackbar :value="error" multi-line="multi-line" color="error" :timeout="timeout" bottom="bottom">
          {{error}}
          <v-btn flat @click="close">Close</v-btn>
        </v-snackbar>
    </div>
</template>
<script>
export default {
    computed: {
        show () {
            return this.$store.getters.showNotification
        },
        timeout() {
            return 4000
        },
        success () {
            return this.$store.getters.successNotification
        },
        error () {
            return this.$store.getters.errorNotification
        },
    },
    methods: {
        close () {
            this.$store.dispatch('remove_notifications')
        }
    }
}
</script>
<style>
</style>
