<template>
    <v-toolbar :color="color" dark fixed clipped-left app mobile-break-point=0 >
        <v-toolbar-title>
            <img src="/img/icons/favicon.ico" height="30">
            <span class="title">Baby Guess</span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <span class="hidden-sm-and-down title" v-if="profile.id">Hello {{profile.name}}</span>
        <v-spacer></v-spacer>
        <div class="hidden-sm-and-down">
            <v-btn @click="logout" v-if="profile.id">Log Out</v-btn>
            <v-btn color="success" @click="dashboard" v-if="profile.admin">Guesses</v-btn>
            <v-btn color="success" @click="users" v-if="profile.admin">Users</v-btn>
        </div>
        <v-menu class="hidden-md-and-up">
            <v-toolbar-side-icon slot="activator"></v-toolbar-side-icon>
            <v-list>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title @click="logout" v-if="profile.id">Log Out</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title @click="dashboard" v-if="profile.admin">Guesses</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-content>
                        <v-list-tile-title @click="users" v-if="profile.admin">Users</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-menu>
    </v-toolbar>
</template>

<script>
export default {
    name: 'Toolbar',
    computed: {
        color() {
            return this.$store.getters.getColor
        },
        profile(){
            return this.$store.getters.getProfile
        },
        routeName () {
          const { name } = this.$route
          return this.$helpers.capitalizeFirstLetter(name)
        },
        profile () {
            return this.$store.getters.getProfile
        },
    },
    methods: {
        logout () {
            this.$store.dispatch('logout')
            this.$router.push('/login')
        },
        dashboard () {
            this.$router.push('/dashboard')
        },
        users () {
            this.$router.push('/users')
        },
    }
}
</script>

<style>
</style>
