<template>
    <v-container fluid fill-height>
        <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
                <v-card class="elevation-12">
                    <v-toolbar dark :color="color">
                        <v-toolbar-title>Login</v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <v-alert :value="successMessage" color="success">{{successMessage}}</v-alert>
                        <v-alert :value="errorMessage" color="error">{{errorMessage}}</v-alert>
                        <v-form>
                            <v-text-field prepend-icon="person" name="name" label="Name" type="text" v-model="credentials.name" required></v-text-field>
                            <v-text-field prepend-icon="lock" name="password" label="Password" id="password" type="password" v-model="credentials.password" required></v-text-field>
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn :color="color" dark @click="login">Login</v-btn>
                    </v-card-actions>
                </v-card>
                <div>
                    <h3>Don't have an account? <router-link to="/register">Register</router-link></h3>
                </div>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    name: 'Login',
    data () {
        return {
            loading: false,
            errorMessage: '',
            successMessage: '',
            credentials: {
                name: '',
                password: ''
            }
        }
    },
    computed: {
        color() {
            return this.$store.getters.getColor
        },
    },
    methods: {
        login () {
            this.loading = true
            this.errorMessage = ''
            this.successMessage = 'logging in'
            if (this.credentials.name || this.credentials.password) {
                this.$store.dispatch('login', this.credentials).then(() => {
                    this.loading = false
                    this.errorMessage = ''
                    this.successMessage = ''
                    this.$router.push('/dashboard')
                }).catch((error) => {
                    console.log(error)
                    this.loading = false
                    this.errorMessage = 'Log in failed'
                    this.successMessage = ''
                })
            } else {
                this.loading = false
                this.errorMessage = 'Please fill in all fields'
                this.successMessage = ''
            }
        }
    },
}
</script>
