<template>
    <v-container fluid fill-height>
        <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
                <v-card class="elevation-12">
                    <v-toolbar dark :color="color">
                        <v-toolbar-title>Welcome to the other side</v-toolbar-title>
                    </v-toolbar>
                    <v-card-text>
                        <p>Something has gone wrong, please follow the trail home</p>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn :color="color" dark @click="goHome">Home</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
export default {
    name: 'NotFound',
    methods: {
        goHome () {
            this.$router.push('/dashboard')
        }
    },
    computed: {
        color() {
            return this.$store.getters.getColor
        },
    },
}
</script>

<style>
</style>
