<template>
    <div id="app">
        <v-app :dark="darkMode" id="inspire">
            <notifications></notifications>
            <toolbar></toolbar>
            <!-- <navigation-drawer></navigation-drawer> -->
            <v-content>
                <router-view></router-view>
            </v-content>
        </v-app>
        <confirm ref="confirm"></confirm>
    </div>
</template>

<script>
import Notifications from '@/components/layout/Notifications'
import Toolbar from '@/components/layout/Toolbar'
import NavigationDrawer from '@/components/layout/NavigationDrawer'
import Confirm from '@/components/Confirm'
export default {
    name: 'App',
    components: {
        Notifications,
        Toolbar,
        NavigationDrawer,
        Confirm
    },
    mounted() {
        this.$root.$confirm = this.$refs.confirm
    },
    computed: {
        darkMode() {
            return this.$store.getters.darkmode
        },
    },
}
</script>
